<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestSceanrio" parallel="false" thread-count="1">
    <test verbose="1" name="PayQattah">
        <classes>
            <class name="io.paysky.qa.App_name.PayQattah.OpenPayQattahPage"/>
        </classes>
    </test>
    <test verbose="2" name="PayQattah_select">
        <classes>
            <class name="io.paysky.qa.App_name.PayQattah.SelectReasons"/>
        </classes>
    </test>
    <test verbose="3" name="PayQattah_Done">
        <classes>
            <class name="io.paysky.qa.App_name.PayQattah.OpenCheckOutPage"/>
        </classes>
    </test>
    <test verbose="4" name="PayQattah_OTP">
        <classes>
            <class name="io.paysky.qa.App_name.PayQattah.OpenOTPPage"/>
        </classes>
    </test>
    <test verbose="5" name="PayQattah_Summary">
        <classes>
            <class name="io.paysky.qa.App_name.PayQattah.PaymentSummaryPage"/>
        </classes>
    </test>
    <test verbose="6" name="filters_icon">
        <classes>
            <class name="io.paysky.qa.App_name.Filters.ClickOnFilterIcon"/>
        </classes>
    </test>
    <test verbose="7" name="filters_type">
        <classes>
            <class name="io.paysky.qa.App_name.Filters.FilterQattahByDate"/>
        </classes>
    </test>
    <test verbose="8" name="filters_Apply">
        <classes>
            <class name="io.paysky.qa.App_name.Filters.ClickOnApplyFilter"/>
        </classes>
    </test>




    <!-- Listeners for Allure -->
    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>

</suite>
